.body-estilo {
  background-color: rgba(163, 52, 51, 1);
}

.contendor {
  height: 100vh;
}

.cabecera {
  background-color: white;
  min-height: 190px;
}

.margen-seccion-redes {
  min-height: 120px;
}

.imagenes-redes {
  width: 40px;
  height: 40px;
}

.barra-navegacion {
  background-color: rgba(200, 113, 40, 0.9);
  color: black;
}

.contenido {
  background-color: white;
  margin-bottom: 1em;
}

.accesos {
  background-color: white;
  height: 100%;
}

.barra-busqueda {
  margin-bottom: 1em;
}

.comentarios {
  min-height: 6em;
  background-color: white;
  margin-top: 1em;
}

.imagenUsuario {
  max-width: 50px;
  max-height: 50px;
}
